*{
    margin: 0;
    padding: 0;
    
}

/* .container{
    margin-top: 50px;
    position: absolute;
    left: 45%;
} */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
}
.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
form .display{
    /* important */
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    /* important */
    text-align: right;
    flex: 1;
    box-shadow: none;
    font-size: 30px;
}
form input.equal{
    width: 145px;
}
